*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.menu-item img{
    position: relative;
    width: 100%;
    height: 200px;
}
.menu-item{
    width: 300px;
    height: 330px;
    overflow: hidden;
    margin: 50px 70px;
}

.btn-container{
    position: relative;
    margin-top: 500px;
    text-align: center;
}
.filter-btn{
    margin: 20px;
    padding: 5px 10px;
    color: rgb(80, 80, 80);
    border-radius: 5px;
    border: 1px solid rgb(163, 86, 125);
    background: none;
}
.item-info{
    display: block;
    text-align: center;
    border: 1px solid rgb(0, 0, 0,0.2);
}
.item-info header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    color: rgb(153, 63, 51);
    margin-left: 75px;
    
}
.title h2{
    margin: 0px 10px;
}
.title{
    position: relative;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 6px black;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,rgb(241, 104, 104),rgb(0, 4, 255));
}
.title img{
    position: absolute;
    width: 80px;
    left: 0px;
    top: 0px;
}
.section-center{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Navbar */
nav{
    position: fixed;
    width: 45px;
    margin-top: 150px;
    box-shadow: 2px 2px 4px rgb(59, 59, 59);
    z-index: 1;
}
nav ul{
    padding: 0px;
    margin: 0px;
}
nav li{
    height: 40px;
    position: relative;
    z-index: 0;
}
nav li a{
    color: white;
    display: block;
    line-height: 40px;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    border-bottom: 1px solid black;
    text-decoration: none;
}
nav li:nth-child(1) a {
    background-color: 	#3b5998;
}
nav li:nth-child(2) a {
    background-color: 	 rgb(12, 107, 250);;
}
nav li:nth-child(3) a {
    background-color: 	#c677b3;
}
nav li:nth-child(4) a {
    background-color: 	#cc0001;
}
nav li a i{
    position: absolute;
    font-size: 20px;
    top: 12px;
    left: 12px;
}
nav li a span{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 14px;
    display: none;
}


/*End of  Navbar */
/* Slider */
.slider-container{
    position: absolute;
    width: 100%;
    height: 500px;
}
.slider-container img{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.slider-container .carousel-caption{
    text-shadow: 2px 4px 4px black;
}
@media all and (max-width : 800px){
    .section-center{
        display: grid;
    grid-template-columns: repeat(1,auto);
    }
}
@media all and (min-width : 800px){
    .section-center{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}
@media all and (min-width : 1200px){
    .section-center{
        display: grid;
        grid-template-columns: repeat(3,auto);
    }
}
